name: Access Issue Information

on:
  issues:
    types: [opened, reopened, labeled]

jobs:
  autocoder_job:
    runs-on: ubuntu-latest
    # ADD THESE PERMISSIONS HERE
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Interact with ChatGPT
        uses: Zeizvant/AutoCoder@main 
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SCRIPT_PATH: 'scripts/script.sh'
          LABEL: 'autocoder-bot'
